html {
    background-color: #e0afa0;

}

body nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

.banner-image {
    background-image: url('imgs/anime-2019011119-laginate.jpg');
    background-size: cover;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;

}

.navbar .container .navbar-brand {
    font-size: 2rem;
}

.description div {
    font-family: 'Montserrat', sans-serif;
    background-color: #e0afa0;
    border-radius: 7px;
}

span {
    font-weight: bold;
}

.headerDescText {
    width: 50%;
    border-radius: 7px
}

.emphasized {
    font-weight: bold;
    text-transform: uppercase;
}

.card-header {
    font-size: 1.5rem;
}