html {
    background-color: #e0afa0;

}

#mainNav {
    font-family: 'PT Sans', sans-serif;
    background-color: #e0afa0;

}

#mainNav .navbar-brand {
    font-size: 2em;
    transition: color 250ms ease-in-out;
}

#mainNav .navbar-brand:hover {
    color: #F4F3EE;
}

#navbarNav a {
    font-size: 1.75em;
    transition: color 250ms ease-in-out;
}

#navbarNav a:hover {
    color: white;
}